@model BuyNSellWebApp.Models.Type

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h1 class="display-4">Product Type Operations</h1>
    <p>Edit Product Type</p>
</div>
<p>
    <a asp-action="Index" class="btn btn-dark">All Product Type</a>
</p>
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TypeID" />
            <div class="form-group">
                <label asp-for="TypeName" class="control-label"></label>
                <input asp-for="TypeName" class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save Details" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
